<template>
            <nav class="tabs">
                <ul>
                    <li data-tab="1" class="tab--active">Избранные</li>
                    <li data-tab="2">Черный список</li>
                </ul>
            </nav>
            <div class="tabs__wrapper">
              <div class="tabs__viewport">
                <div data-tab-content="1" class="tabs_content" data-view="favorites"></div>
                <div data-tab-content="2" class="tabs_content" data-view="blacklist"></div>
              </div>
            </div>
    </template>
