<template>
                <div class="gBlock">
                <p>Рейтинг (0): 
                    <span class="star-rating">
                        <i class="icon-star star-rating__star--active"></i>
                        <i class="icon-star star-rating__star"></i>
                        <i class="icon-star star-rating__star"></i>
                        <i class="icon-star star-rating__star"></i>
                        <i class="icon-star star-rating__star"></i>
                    </span>
                </p>
                <p>Выполненные заказы: 0</p>
            </div>
            <p>Отзывы(0):</p>
            </template>
