<template>
            <div class="go-order" data-hide-form="enable">
                <div class="go-order__top" data-hide-form="top">
                    <div class="wait-order-approve" data-controller="taxi_driver_go">
                        <div class="wait-order-approve__route-info">
                            <div class="wait-order-approve__route-info__route">
                                <div></div>
                                <div>-</div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="wait-order-approve__route-info__price"></div>
                            <div class="wait-order-approve__route-info__cancel"></div>
                            <div class="wait-bids-approve"></div>
                        </div>
                    </div>
                </div>
            </div>
    </template>
