<template>
            <div class="alert">
                <div class="alert__text--blue">Смена не активирована</div>
            </div>
            <p class="strong">Лицевой счет: 543688</p>
            <p>Баланс: 100 монет</p>
            <p>Приоритет: 70 <a href="#">Что это?</a></p>
            <p>Статус: Обычный</p>
            <p><button class="button_wide--green">Онлайн проверка</button></p>
            <p><button class="button_wide--yellow">Пополнить счет</button></p>
            <p><button class="button_wide--gray">Рекомендуемые правила</button></p>
            </template>
