<template>
            <div class="wait-order-approve" data-hide-form="enable">
                <div class="wait-order-approve__route-info" data-hide-form="top">
                    <div class="wait-order-approve__route-info__route">
                        <div></div>
                        <div>-</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="wait-order-approve__route-info__price"></div>
                    <div class="wait-order-approve__route-info__cancel"></div>
                    <div class="wait-bids-approve"></div>
                </div>
            </div>
    </template>
