/* ==|====================
   Modules/forms
   ======================= */

.form-feedback{
    input,textarea,select{
        width: 100%;
        padding: 0.5em 0;
        border: 1px solid grey;
    }
}
.form-login{
    text-align: center;
    p{
        padding: 1em 0;
    }
    input {
        line-height: normal;
        padding: 0.25em;
        margin-left: 0.5em;
    }
}
.form-order-city{
    position: relative;
    top: -100%;
    background-color: white;
    left: 0;
    width: 90%;
    margin: 0 3%;
    padding: 2%;
    -webkit-transition: top 0.5s ease-out 0.25s;
    -moz-transition: top 0.5s ease-out 0.25s;
    -o-transition: top 0.5s ease-out 0.25s;
    transition: top 0.5s ease-out 0.25s;
    input{
        width: 90%;
        border:0;
        font-size: 0.75em;
    }
    &__label_field{
        border-bottom: 1px solid $inactive;
        color: $inactive;
        padding: 0.5em 0 0.5em 0.5em;
        font-size: 0.75em;
    }
    &__bottom{
        position: absolute;
        bottom: 0;
        width: 90%;
        padding: 0 2.5%;
        background-color: white;
        left: 2.5%;
        //-webkit-transition: bottom 0.5s ease-out 0.25s;
        //-moz-transition: bottom 0.5s ease-out 0.25s;
        //-o-transition: bottom 0.5s ease-out 0.25s;
        //transition: bottom 0.5s ease-out 0.25s;
    }
    &__field{
        width: 100%;
        height: 2em;
        line-height: 2em;
        position: relative;
        margin-bottom: 0.5em;
        i{
            color: $inactive;
        }
        &_clean{
            cursor: pointer;
            position: absolute;
            right: 7%;
            top: 5px;
        }
        &_add{
            position: absolute;
            top: 1em;
            right: 15%;
            color: $active;
            padding: 0 0.1em;
            background-color: white;
            cursor: pointer;            
        }
        &_delete{
            position: absolute;
            top: 0;
            right: 9.5%;
            font-size: 0.75em;
            color: #eaa3a3;
            cursor: pointer;
        }
        &_add_time{
            position: absolute;
            top: 0.01em;
            right: 17%;
            color: #eaa3a3;
            cursor: pointer;
        }
    }
    &__wrap{
        width:90%;
        border-bottom: 1px solid grey;
        display: inline-block;
    }
    &__label{
        width: 10%;
        top: 0.2em;
        position: relative;
    }
    &__add-button{
        top: 0.3em;
        right: 0;
        cursor: pointer;
        position: absolute;
    }
}
.top-index{
    position: absolute;
    top: -12px;
    font-size: 0.5em;
    width: 5em;
    left: 2em;
    color: $active;
}
.form-edit-profile{
    
}
.form-edit-auto{
    input, select{
        //margin-left: 6em;
    }
}
