/* ==|====================
   Modules/Go order
   ======================= */
.go-order {
    position: relative;
    top: 0em;
    height: 0;
    width: 100%;
    -webkit-transition: top .5s ease-out .25s;
    transition: top .5s ease-out .25s;
    &__top {
        top: 0;
        position: relative;
        -webkit-transition: top 0.5s ease-out 0.25s;
        -moz-transition: top 0.5s ease-out 0.25s;
        -o-transition: top 0.5s ease-out 0.25s;
        transition: top 0.5s ease-out 0.25s;
        .wait-bids-approve {
            top: 2em;
            position: relative;
            margin: 0 1%;
            background-color: #fff;
        }
        .wait-order-approve {
            top: 1em;
            position: relative;
            margin: 0 1%;
            background-color: #fff;
        }
    }
    &__down {
        //position: absolute;
        position: fixed;
        bottom: 1em;
        width: 100%;
        //-webkit-transition: bottom 0.5s ease-out 0.25s;
        //-moz-transition: bottom 0.5s ease-out 0.25s;
        //-o-transition: bottom 0.5s ease-out 0.25s;
        //transition: bottom 0.5s ease-out 0.25s;
        &__driver-panel {
            width: 100%;
            background-color: white;
            &__info {
                width: 49%;
                display: inline-block;
                vertical-align: middle;
                p {
                    font-size: 0.75em;
                    span {
                        color: $active;
                        font-size: 1em;
                    }

                }
            }
            &__action {
                width: 49%;
                display: inline-block;
                vertical-align: middle;
            }
        }
        &__messages {
            height: 5em;
            width: 100%;
            background-color: white;
            &__textarea {
                height: 2.5em;
                overflow: hidden;
                overflow-y: scroll;
                p {
                    margin: 0;
                    font-size: 0.75em;
                }
            }
            &__textinput {
                height: 2.5em;
                input {
                    font-size: 0.75em;
                    margin: 1em;
                    width: 65%;
                }
                button {
                    width: 7em;
                }
            }
        }
    }
}
