/* ==|====================
   Modules/list-messages
   ======================= */

.list-message {
    li {
        padding: 0.25em 1em;
        font-size: 0.8em;
        cursor: pointer;
        &.unread {
            font-weight: bold;
        }
        div {
            display: inline-block;
        }
        div:first-child {
            width: 85%;
        }
        div span {
            font-size: 0.75em;
        }
        div:nth-child(2) {
            float: right;
        }
    }
}