/* ==|====================
   Modules/maps
   ======================= */
#map_canvas,#map_canvas_go,#map_canvas_go_driver{
    height: 100%;
    margin-top: 1em;
}
#map_canvas_whereiam{
    height: 85%;
}
#map_canvas_choice{
    height: 100%;
    margin-top: 1em;
}
    .centerMarker{
        position:absolute;
        background:url(https://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
        top:50%;left:50%;
        z-index:1;
        margin-left:-10px;
        margin-top:-34px;
        height:34px;
        width:20px;
        cursor:pointer;
    }
    .map_order_info{
        position: absolute;
        z-index: 10;
        margin: 0 25%;
        width: 50%;
        bottom: 0;
        background-color: darkgray;
        border-radius: 0.25em;
        font-size: 0.75em;
    }
#map_canvas_iam{
    height: 100%;
    width: 100%;
    margin-top: 1em;
}
.find-me {
    position: absolute;
    cursor: pointer;
    bottom: 1.5em;
    right: 0;
    font-size: 3em;
    color: #02C9A2;
    opacity: 0.5;
}
