/* ==|====================
   Modules/myorders
   ======================= */

.myorders{
    p{
        padding-left: 2em;
        position: relative;
        font-size: 0.75em;
        margin: 0.5em 0;
        color: $inactive;
    }
    &__item{
        border-bottom: 1px solid grey;
        div{
            display: inline-block;
            width: 90%;
            vertical-align: top;
            position: relative;
        }
        &__menu{
            width: 10% !important;
            padding-top: 0.5em;
            color: $inactive;
            cursor: pointer;
            span{
                position: absolute;
                right: 1em;
                top: 2em;
                border: 2px solid lightgrey;
                padding: 0.5em;
                background-color: white;
                font-size: 0.75em;
                display: none;
                a{
                    display: block;
                    text-decoration: none;
                    padding: 0.5em 0.15em;
                }
            }
        }
        &__time{
            padding-left: 1em;
            &:before{
                @extend .myorders__item__icon;
                @extend .icon-calendar;
            }
        }
        &__from{
            padding-left: 1em;
            &:before{
                @extend .myorders__item__icon;
                @extend .icon-left-circled;
            }
        }
        &__to{
            padding-left: 1em;
            &:before{
                @extend .myorders__item__icon;
                @extend .icon-right-circled;
            }
        }
        &__summa{
            padding-left: 1em;
            &:before{
                @extend .myorders__item__icon;
                @extend .icon-rouble;
            }
        }
        &__info{
            padding-left: 1em;
        }
        &__icon{
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            font-size: 1em;
            position: absolute;
            left: 0.5em;
            top: 0.1em;
        }
    }
}