/* ==|====================
   Modules/safety-window
   ======================= */

.safety-window {
    position: absolute;
    top: -2em;
    border-radius: .5em;
    width: 19em;
    right: -19em;
    background-color: #fff;
    -webkit-transition: right .5s ease-out .25s;
    transition: right .5s ease-out .25s;
    -moz-transition: right 0.5s ease-out 0.25s;
    -o-transition: right 0.5s ease-out 0.25s;
    &--closed {
        right: -19em;
    }
    &--opened {
        right: -1em;
    }
    &__grid-all {
        width: 100%;
        text-align: center;
        &.hidden{
            display: none;
        }
    }
    &__grid {
        width: 48%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        line-height: 0.5em;
        input{
            width: 60%;
        }
    }
    &__round {
        margin: 1em auto;
        background-color: $inactive;
        cursor: pointer;
        width: 6em;
        height: 6em;
        border-radius: 6em;
        font-size: 0.75em;
        line-height: 6em;
        text-align: center;
        color: #fff;
        &--left{
            @extend .safety-window__round;
            margin: 0;
            margin-left: 3em;
            float: left;
        }
        &.active {
            background-color: $active;
        }
    }
    &:before {
        content: "ОХРАНА";
        top: 6em;
        left: -1em;
        display: inline-block;
        position: relative;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .range-input {
        display: inline-block;
        width: 50%;
    }
}
