/* ==|====================
   Modules/score-agent
   ======================= */

.score-agent {
    margin-top: 2em;
    padding: 0 1em;
    &__stars {
        margin-bottom: 1em;
        &__star {
            cursor: pointer;
            color: #ccc;
            &.active {
                color: #FC0;
            }
        }
    }
    textarea {
        width: 99%;
        margin-bottom: 1em;
    }
    &__but-box {
        font-size: 2em;
        color: $active;
        margin-bottom: 1em;
        i {
            cursor: pointer;
        }
    }
}