.trusted-contacts{
    li {
        div {
            display: inline-block;
        }
        div:first-child {
            width: 85%;
        }
        div:nth-child(2) {
            float: right;
        }
    }
}