/* ==|====================
   Modules/Wait Order Approve Block
   ======================= */
.wait-order-approve{
    position: relative;
    top: 1em;
    margin: 0 1%;
    width: 96%;
    font-size: 1em;
    -webkit-transition: top 0.5s ease-out 0.25s;
    -moz-transition: top 0.5s ease-out 0.25s;
    -o-transition: top 0.5s ease-out 0.25s;
    transition: top 0.5s ease-out 0.25s;
    input[type="text"]{
        border: 0;
    }
    &__route-info{
        padding: 1%;
        background-color: #fff;
        font-size: 0.75em;
        &>div{
            display: inline-block;
            vertical-align: top;
        }
        &__route{
            width: 60%;
            .form-order-city__wrap {
                width: 85%;
            }
            div{
                padding: 0.25em;
            }
            &__additional{
                
            }
        }
        &__price{
            font-size: 1em;
            color: green;
        }
        &__cancel{
            width: 20%;
            float: right;
        }
        &__addinfo{
            width: 35%;
            float: both;
        }
    }
}
.wait-bids-approve{
    position: relative;
    font-size: 1em;
    background-color: white;
    width: 96%;
    margin: 0 1%;
    padding: 1%;
    -webkit-transition: top 0.5s ease-out 0.25s;
    -moz-transition: top 0.5s ease-out 0.25s;
    -o-transition: top 0.5s ease-out 0.25s;
    transition: top 0.5s ease-out 0.25s;
    .hidden{
        opacity: 0.2;
    }
    &__item{
        div{
            img{
                width: 4em;
                height: 4em;
                border-radius: 4em;
            }
        }
        &__distance{
            display: inline-block;
            width: 31%;
            padding-right: 1em;
            vertical-align: top;
            span{
                color: green;
                font-size: 1.5em;
            }
        }
        &__approve{
            display: inline-block;
            float: right;
            position: relative;
            i{
                font-size: 3em;
                position: absolute;
                top: 0.25em;
                right: 0;
                cursor: pointer;
            }
        }
        &__price{
            display: inline-block;
        }
        &__driver{
            display: inline-block;
            width: 25%;
            vertical-align: top;
            text-align: center;
            div span {
                display:block;
            }
        }
        &__cancel{
            display: inline-block;
            text-align: center;
            width: 20%;
            button{
                width: 6em;
            }
        }
        &__car{
            display: inline-block;
            text-align: center;
            width: 20%;
        }
        &__bid-price{
            span{
                color: green;
                font-size: 1.5em;
            }
        }
        &__bid-time{
            span{
                color: green;
                font-size: 1.5em;
            }
        }
    }
}
