/* ==|====================
   Modules/filter-intercity
   ======================= */

.filter-intercity{
    p{
        font-size: 0.75em;
        border-bottom: 1px solid $inactive;
        padding-bottom: 0.5em;
    }
    i{
        color: $inactive;
    }
    input{
        border: none;
        padding-left: 1em;
    }
}