/* ===========================
   Base
   =========================== */

html,body {
    height: 100%;
    font-size: $base_font_size;
}

a {
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.strong{
    font-weight: 600;
}
.center{
    text-align: center;
}
.avatar{
    width: 100px;
    height: 100px;
}
.is_not_auth{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #f00;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.for-click {
    cursor: pointer;
}
.font4 {
    font-size: 4em;
}
.font2 {
    font-size: 2em;
}
.active {
    color: $active;
}
.inactive {
    color: $inactive;
}
.active-bg {
    background-color: $active!important;
}
.avatar {
    width: 4em;
    height: 4em;
    border-radius: 4em;
}