@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
// -----------------------------
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;
$base_font_size: 1em;//0.85em;

// = Colors
// -----------------------------

$active: #02C9A2;
$inactive: #999999;
$halfactive: #BCF1E7;

$menu_bg: #333333;
$menu_font: #999999;

$menu_font_size: 0.85em;
$menu_icon_size: 1.25em;

// Header
// -----------------------------
$header_height: 3em;

// Menu
// -----------------------------
$width_menu: 80%;
$speed_open_menu: 0.2s;

//Functions
// -----------------------------

@function pxtoem($pxval, $base: 16) {
  @if (unitless($pxval)) {
    $pxval: $pxval * 1px;
  }
  @if (unitless($base)) {
    $base: $base * 1px;
  }
  @return $pxval / $base * 1em;
}